<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <img class="logo" alt="logo"
        src="https://www.bing.com/th?id=OIP.xQi8uDzkJJ_uW6ZEB-gMUQHaEq&w=180&h=106&c=8&rs=1&qlt=90&dpr=1.25&pid=3.1&rm=2" />
    <div class="conatiner-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg">
                    <h3>Login Stack Developer</h3>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a href="/" class="nav-link">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/register" class="nav-link">Register</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <h1>LOGIN FORM</h1>
    <div class="container">
        <form action="/register" method="POST">
          <div class="row">
            <div class="col-md-6">
                <div class="form-grp">
                <input type="text" placeholder="First Name" class="form-control" name="firstname">
               </div>
               <div class="form-grp">
              <input type="text" placeholder="Last Name" class="form-control" name="lastname">
              </div>
              <div class="form-grp">
               <input type="text" placeholder="Phone No" class="form-control" name="phone">
               </div>
            </div>

        <div class="col-md-6">
            <div class="form-grp">
            <input type="text" placeholder="Email" class="form-control" name="email">
        </div>
        <div class="form-grp">
            <input type="text" placeholder="Password" class="form-control" name="password">
        </div>
        <div class="form-grp">
            <input type="text" placeholder="Confirm Passwoed" class="form-control" name="confirm">
        </div>
        </div>
          </div>
          <button type="submit" class="btn btn-primary btnRegister">SUBMIT</button>
        </form>
    </div>
</body>
</html>